/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #8fc8fd;
    margin: 0;
    padding: 20px;
}

a {
    font-weight: bold;
    color: #007BFF;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

/* Container principal */
.container {
    background: #fff;
    max-width: 700px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1 {
    text-align: center;
    color: darkblue;
    margin: 10px 0;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ccc;
    margin-bottom: 10px;
}

.link-enunciado {
    text-align: right;
    padding: 4px;
    font-size: 12px;
}

.link-enunciado::after { content: " ⧉"; }

/* Espaçamento entre os blocos */
form div, .dados p, .erro p {
    margin: 10px 0;
}

/* Estilo dos labels */
label {
    font-weight: bold;
    color: #333;
}

/* Campos de entrada */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea { resize: vertical; }

/* Checkboxes e Radio Buttons */
input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

/* Botão de envio */
button {
    display: block;
    width: 100%;
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover { background: #0056b3; }

/* Mensagens de erro e sucesso */
.erro {
    color: red;
    font-weight: bold;
    padding: 10px;
}

.sucesso {
    color: green;
    font-weight: bold;
    text-align: center;
}

/* Estilo da exibição dos dados */
.dados {
    background: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    margin: 4px 0;
    width: 100%;
}

form, h2 { margin: 20px 0; }

table {
    margin: auto;
    width: 70%;
    text-align: center;
}

table, th, td {
    border: solid 1px;
    border-collapse: collapse;
    padding: 4px;
}

caption { font-weight: bold; }

th { background-color: #8fc8fd; }

tbody tr:hover { background-color: antiquewhite; }

